*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
}
.parent{
}
.child{
}
.logo{
}
svg{
  max-width: 100px;
}
nav{
  background-color: #5b78c7;
  /* display: flex;
  align-items: center;
  padding: 4%; */
  display: flex;
  padding: 4%;
  height: 10vh;
}
.hamburger{
  flex-basis: 50%;
}
ul{
  list-style-type: none;
}
li a{
  color:#ffffff;
  text-decoration: none;
}
.nav-links{
  display: flex;
  flex-basis: 50%;
  column-gap: 12px;
  justify-content: space-between;
}
section{
  /* padding: 4%;
  display: flex;
  align-items: center;
  justify-content: center; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .logo{
    /* height: 10vh; */
    display: flex;
    /* align-items: center; */
    /* padding: 0 4%; */
    padding: 0;
    align-items: unset;
  }
  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }
  .nav-links {
    position: fixed;
    right: 0;
    background: #5b78c7;
    height: 190vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    height: 90vh;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    clip-path: circle(1000px at 90% 1%);
    -webkit-clip-path: circle(1000px at 90% 1%);
  }
  .landing {
    flex-direction: column;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li a {
    font-size: 25px;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  li.fade {
    opacity: 1;
  }
}